<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1:N 처리 방법 -->
<mapper namespace="edu.bit.ex.mapper.EmpMapper">

	<!-- resultMap 이란? Mapping -->
	<resultMap id="empMap" type="edu.bit.ex.vo.EmpVO">
	    <result property="ename" column="ename"/> <!-- column DB상의 실제 컬럼 명 -->
	    <result property="empno" column="empno"/> <!-- Mybatis가 알아서 컬럼을 찾아서 setter로 해당 프로퍼티에 값을 넣는다. -->
	    <result property="job" column="job"/>
	    <result property="mgr" column="mgr"/>
	    <result property="hiredate" column="hiredate"/>
	    <result property="sal" column="sal"/>
	    <result property="comm" column="comm"/>
	    <result property="enabled" column="enabled"/>
		<collection property="authList" resultMap="authMap2"></collection> <!-- collection -> authList에 들어감 authMap이라는 형태로(아래에서 정의) -->
	</resultMap>
	
	<resultMap id="authMap2" type="edu.bit.ex.vo.AuthVO2">
		<result property="username" column="username"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="getEmp" resultMap="empMap"> <!-- 전체에 대한 리턴 값 -->
		SELECT users.ename, users.empno, users.job, users.mgr, users.hiredate, users.sal, NVL(users.comm, 0) comm, decode(users.deptno, 10, 1, 1) enabled, authorities.ename username, case when authorities.job='MANAGER' then 'ROLE_ADMIN' else 'ROLE_USER' end AS authority
		FROM emp users, emp authorities
		WHERE users.ename = authorities.ename and users.ename = #{username}
	</select>
	

</mapper>
